<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Delete Blog Post</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <header>
    <nav>
      <a href="/" class="nav-item">My Blog</a>
      <a href="/blogList" class="nav-item">List Blogs</a>
      <a href="/blogAdd" class="nav-item">Add Blog</a>
    </nav>
  </header>

  <main class="form-container">
    <h2>Delete Blog Post</h2>
    <p>Are you sure you want to delete the blog post titled "<%= blog.title %>"?</p>
    <form action="/delete/<%= blog._id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>        
  </main>
</body>
</html>
