\body {
  background-color: #f8f9fa;
  font-family: 'Roboto', sans-serif; /* Use Roboto as your main font */
}

.navigation {
  display: flex;
  justify-content: center;
  background-color: #2a323b; /* Bootstrap dark background */
  padding: 0.5rem 0;
}

.nav-item {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-item:not(:last-child) {
  border-right: 1px solid #fff; /* Separator between nav items */
}

.nav-item:hover {
  text-decoration: underline;
}

/* Content Styles */
.container {
  text-align: center; /* Center align the container content */
  padding: 2rem 1rem;
}

h1 {
  color: #343a40; /* Dark text for the title */
  font-size: 2.5rem; /* Larger font size for h1 */
  margin-bottom: 0.5rem; /* Spacing after the h1 */
}

p {
  color: #000508; /* Grey text for the paragraph */
  margin-bottom: 2rem; /* Spacing after the paragraph */
}

.card {
  display: block;
  background-color: #fff;
  margin-bottom: 1rem;
  padding: 1rem;
  border: none;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); /* Bootstrap box-shadow */
}

.card-title {
  font-size: 1.25rem; /* Title size inside cards */
}

.card-body p {
  color: #00070c; /* Grey text for the card paragraph */
}
